
@{
    ViewBag.Title = "Hours";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h1>This is Heading 1. Use for title of page</h1>
<p> This is a simple paragraph</p>
<p style="font-family: arial; color: mediumpurple; font-size: 16px;">
    This is a new paragraph with an example of inline CSS. It overrides previous styles created. The tragedy of Darth Plageious was sad
</p>
<h6>Headings go to 6. This is 6</h6>

