
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 style="text-align: center;">Latest news about Cicero's</h2>
<div class="news_table">
    <table>
        <tr>
            <td>
                <img src="img/new_rat.jpg" alt="Rat Image"> <br>
                Cicero's now has new rats looking for wizarding homes! - September 5th, 2021
            </td>
        </tr>
        <tr>
            <td><img src="img/cicero.jpg" alt="Cicero Image"> <br>Cicero's Hollow of Wizard Wares reaches it's 367th year anniversary! - August 23rd, 2021</td>
        </tr>
        <tr>
            <td><img src="img/diagon_alley.png" alt="Diagon Alley Art"> <br>Diagon Alley's Most Successful Business of 2021 goes to Cicero's Hollow! - July 10th, 2021</td>
        </tr>
    </table>
</div>
